In [1]:
# Import Lib
import pandas as pd

In [11]:
d = pd.read_csv('population.csv')

In [12]:
d.head()

   Country  Year  Population
0  Denmark  2000         5.3
1  Denmark  2010         5.5
2  Denmark  2020         5.8
3   Sweden  2000         8.8
4   Sweden  2010         9.3

In [13]:
d.dtypes

Country        object
Year            int64
Population    float64
dtype: object

In [14]:
d.columns

Index(['Country', 'Year', 'Population'], dtype='object')

In [15]:
d['Year'] = pd.to_datetime(d['Year'],format='%Y')

In [16]:
d.dtypes

Country               object
Year          datetime64[ns]
Population           float64
dtype: object

In [21]:
d['Population']*10000000

0     53000000.0
1     55000000.0
2     58000000.0
3     88000000.0
4     93000000.0
5    102000000.0
Name: Population, dtype: float64

In [22]:
d.groupby('Country').mean()

         Population
Country
DNK        5.533333
Sweden     9.433333

In [23]:
d['Country']= d['Country'].str.replace('Denmark','DNK')

In [24]:
d.head()

  Country       Year  Population
0     DNK 2000-01-01         5.3
1     DNK 2010-01-01         5.5
2     DNK 2020-01-01         5.8
3  Sweden 2000-01-01         8.8
4  Sweden 2010-01-01         9.3