## Project _ Guide School to activities to Improve G3 grades

In [1]:
# Step 1 explore problem, Identify Data, Import Data
# Import Libraries 
import pandas as pd 
# Read File 
datas = pd.read_csv("student.csv")

In [2]:
datas.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [7]:
len(datas)

395

In [8]:
# Missing Values 
datas.isnull().sum()

school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
G3            0
dtype: int64

In [15]:
datas.corr()['G3']

age          -0.161579
Medu          0.217147
Fedu          0.152457
traveltime   -0.117142
studytime     0.097820
failures     -0.360415
famrel        0.051363
freetime      0.011307
goout        -0.132791
Dalc         -0.054660
Walc         -0.051939
health       -0.061335
absences      0.034247
G1            0.801468
G2            0.904868
G3            1.000000
Name: G3, dtype: float64

In [16]:
datas.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

In [17]:
datas.groupby('school').mean()['G3']

school
GP    10.489971
MS     9.847826
Name: G3, dtype: float64

In [21]:
datas.groupby('school')['G3'].std()

school
GP    4.625397
MS    4.237229
Name: G3, dtype: float64

In [12]:
datas.groupby('higher').mean()['G3']

higher
no      6.800
yes    10.608
Name: G3, dtype: float64

In [13]:
datas.groupby('higher').std()['G3']

higher
no     4.829732
yes    4.493422
Name: G3, dtype: float64

In [22]:
datas.groupby('higher').count()['G3']

higher
no      20
yes    375
Name: G3, dtype: int64

In [14]:
20/len(datas)*100

5.063291139240507

In [24]:
datas.groupby('school').count()['G3']

school
GP    349
MS     46
Name: G3, dtype: int64

In [27]:
datas.groupby('health').count()['G3']

health
1     47
2     45
3     91
4     66
5    146
Name: G3, dtype: int64