# ***Data Science Course***
# This Course is consist of 15 Lessons

### Step 1:
> - Problem
> - Data
> - Import

### Step 2:
> - Explore
> - Visualize
> - Cleaning 

### Step 3:
> - Features
> - Model
> - Analyze

### Step 4:
> - Present
> - Result Visualization
> - Credibility

### Step 5:
> - Insights
> - Impact
> - Main Goal

In [2]:
import pandas as pd 
# Read the data 
data = pd.read_csv("student.csv")

In [3]:
# Show the first 5 rows of the data
data.head(5)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [7]:
# Find the null values in data 
data.isnull().sum()

school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
G3            0
dtype: int64

In [8]:
# Data Types
data.dtypes

school        object
sex           object
age            int64
address       object
famsize       object
Pstatus       object
Medu           int64
Fedu           int64
Mjob          object
Fjob          object
reason        object
guardian      object
traveltime     int64
studytime      int64
failures       int64
schoolsup     object
famsup        object
paid          object
activities    object
nursery       object
higher        object
internet      object
romantic      object
famrel         int64
freetime       int64
goout          int64
Dalc           int64
Walc           int64
health         int64
absences       int64
G1             int64
G2             int64
G3             int64
dtype: object

In [10]:
# Explore Correlation 
# We can oly make correlation of numeric values
data.corr()['G3']

age          -0.161579
Medu          0.217147
Fedu          0.152457
traveltime   -0.117142
studytime     0.097820
failures     -0.360415
famrel        0.051363
freetime      0.011307
goout        -0.132791
Dalc         -0.054660
Walc         -0.051939
health       -0.061335
absences      0.034247
G1            0.801468
G2            0.904868
G3            1.000000
Name: G3, dtype: float64

In [13]:
data.groupby('higher').mean()['G3']

higher
no      6.800
yes    10.608
Name: G3, dtype: float64

In [14]:
data['G3'].mean()

10.415189873417722

In [15]:
data.groupby('higher').count()['G3']

higher
no      20
yes    375
Name: G3, dtype: int64

In [16]:
# Find the standard deviation 
data.groupby('higher')['G3'].std()

higher
no     4.829732
yes    4.493422
Name: G3, dtype: float64

In [17]:
data['G3'].mean()

10.415189873417722

In [18]:
data.groupby('higher').count()['G3']

higher
no      20
yes    375
Name: G3, dtype: int64

In [19]:
20/len(data)*100

5.063291139240507

In [20]:
data.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')