In [35]:
import pandas as pd 
import numpy as np 
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
%matplotlib inline

In [36]:
weather = pd.read_parquet('files/weather-predict.parquet')
weather.head()

                     Pressure  Pressure+24h
Datetime
2006-04-01 00:00:00   1015.13       1015.68
2006-04-01 01:00:00   1015.63       1015.41
2006-04-01 02:00:00   1015.94       1014.98
2006-04-01 03:00:00   1016.41       1015.18
2006-04-01 04:00:00   1016.51       1014.70

In [37]:
weather.dtypes

Pressure        float64
Pressure+24h    float64
dtype: object

In [38]:
len(weather)

96418

In [39]:
weather.isna().sum()

Pressure         0
Pressure+24h    38
dtype: int64

In [40]:
(weather==0).sum()

Pressure        1288
Pressure+24h    1288
dtype: int64

In [41]:
weather.corr()

              Pressure  Pressure+24h
Pressure      1.000000      0.419074
Pressure+24h  0.419074      1.000000

In [49]:
weather1 = weather[weather['Pressure+24h']!=0]
weather1 = weather1.dropna()

In [50]:
len(weather),len(weather1)

(96418, 95092)

In [51]:
weather1.corr()

              Pressure  Pressure+24h
Pressure      1.000000      0.083047
Pressure+24h  0.083047      1.000000

In [44]:
(weather==0).sum()

Pressure        1288
Pressure+24h    1288
dtype: int64

In [52]:
weather1.replace(0,np.nan).interpolate().corr()

              Pressure  Pressure+24h
Pressure       1.00000       0.79447
Pressure+24h   0.79447       1.00000

In [48]:
(weather1==0).sum()

Pressure        742
Pressure+24h      0
dtype: int64

In [46]:
def regression_score(X,y):
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
    lin = LinearRegression()
    lin.fit(X_train,y_train)
    y_pred = lin.predict(X_test)
    return r2_score(y_pred, y_test)

In [53]:

regression_score(weather1[['Pressure']],weather1[['Pressure+24h']])

-152.7581067291714

In [54]:
interpdata = weather1.replace(0,np.nan).interpolate()

In [55]:

regression_score(interpdata[['Pressure']],interpdata[['Pressure+24h']])

0.4042254234015953